@font-face{
    font-family: Gotham;
    src: url("../fonts/webfonts/Gotham-Font/Gotham-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Gotham Bold;
    src: url("../fonts/webfonts/Gotham-Font/Gotham-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Gotham;
}
.logo-text{
    position: absolute;
    top: 0;
    left: 177px;
    font-size: 12px;
    text-transform: uppercase;
    background: #CC1236;
    color: white;
    padding: 1em;
    line-height: 0px;
    white-space: pre-line;
    line-height: 18px;
}

.top-nav .nav-item{
    font-size: 14px;
}

/* .top-nav .nav-item .active > a{
    color: #CC1236 !important;
    font-weight: 400;
} */

.nav-item:hover::after {
    width: 100%;
}

.nav-btn button{
    border: none;
    border-radius: 3px;
    color: #818181;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nav-btn button:first-child{
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #CC1236;
}
.navbar-nav > .active > a {
    color: #CC1236 !important;
    background-color: transparent;
    font-weight: 600 !important; 
  }
  .nav-item > a:hover {
    color: #CC1236;
  }
  .nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #CC1236;
    transition: 0.2s;
}
span.cart-icon{
    background: url(../image/shopping-cart.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 30px;
    color:#818181 !important;
}

.twitter-icon{
    background: url(../image/twitter\ \(1\).svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    width: 17px;
    text-align: center;
}

.facebook-icon{
    background: url(../image/facebook\ \(1\).svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    text-align: center;
    width: 10px;
}

.instagram-icon{
    background: url(../image/instagram\ \(2\).svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-align: center;
    width: 17px;
}

.youtube-icon{
    background: url(../image/youtube\ \(1\).svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    text-align: center;
    width: 20px;
}
span.mask-icon{
    background: url(../image/medical-mask\ \(2\).svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 30px;
    color:#818181 !important;
}

.mask-section{
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    background-color: #f7f7f7;
}

.hdr-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
}

.hdr-social-list li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.hdr-social-list li> a{
    color: white !important;   
}
.mask-text-sec{
    background-color: #CC1236;
    color: white;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.mask-sec-img img{
    width: 410px;
    height: 362px;
    z-index: 10;
}

.mask-text-sec h2{
    font-family: Gotham Bold;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2px;
}

.mask-section p{
    padding-left: 25%;
    font-size: 1.3em;
}

.mask-sec-btn > button{
    text-transform: uppercase;
    border-radius: 3px !important;
    padding: 0.5em 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
}

.mask-sec-img {
    position: relative;
 }
.mask-sec-img p{
    position: absolute;
    font-size: 1.3em;
    height: 100px;
    background: #CC1236;
    z-index: 2;
    width: 114px;
    left: 22%;
    color: white;
    text-transform: uppercase;
    white-space: pre-line;
    text-align: left;
    font-weight: 600;
    padding-left: 0.6em;
    padding-right: 0.6em;
    line-height: 24px;
    padding-top: 0.3em;
}

#kids{
    background-color: white;
    color: #818181;
}

.mask-img {
    position: relative;
    margin-top: 36px;
    text-align: center;
    z-index: 20;
}
@media (max-width: 575.98px) { 
    .mask-text-sec h2{
        font-size: large;
    }

    .mask-sec-img{
        margin-left: 0.8em;
        margin-right: 0.8em;
        margin-top: 1em;
    }

    .logo-text{
        line-height: 13px;
    }
 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
     .mask-text-sec h2{
        font-size: xx-large;
    }

    .logo-text{
        line-height: 13px;
    }

    .mask-text-sec h2{
        font-size: 1.5em;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    .logo-text{
        line-height: 13px;
    }
    .mask-text-sec h2{
        font-size: 1.8em;
    }
   }

  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .top-nav .nav-item{
        font-size: 11px;
    }
    .mask-text-sec h2{
        font-size: 1.8em;
    }
    
   }